/* Style Umum */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ffd9fe; 
    color: #f26ef9;
    line-height: 2.0;
    padding: 20px;
    transition: background-color 0.3s ease;
}
h1, h2 {
    color: #8a4385;
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #57055e;
}

tr:nth-child(even) {
    background-color: #820552;
}

tr:hover {
    background-color: #f715cd;
}

a {
    text-decoration: none;
    color: #9f749c;
}

a:hover {
    color: #faa8e0;
}

button {
    background-color: #dd74c5;
    color: rgb(75, 4, 58);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #8c5a89;
}

/* Style Form */
form {
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: white;
}

label {
    display: grid;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #c69fbd;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
    border-color: #fda5ff;
    outline: none;
}

/* Style Header dan Footer */
header, footer {
    background-color: #f2a4ee;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

header a,
footer a {
    color: #91748e;
    text-decoration: none;
}

header a:hover,
footer a:hover {
    color: #fff;
}

/* Style Link Logout */
.logout {
    float: right;
    margin-right: 20px;
}

.logout a {
    color: #fc90d6;
}

.logout a:hover {
    color: #f494cf;
}
